[package]
name = "runtime"
version = "0.1.0"
edition = "2024"

[lib]
name = "runtime"
path = "src/lib.rs"

[dependencies]
parse = { path = "../parse" }
thiserror = { workspace = true }
anyhow = { workspace = true }

